<% if record.errors.any? %>
<div id="error_explanation">
  <h2><%= t('errors.template.header.other', model: record.class.model_name.human, count: record.errors.count) %></h2>
  <%= t('errors.template.body') %>

  <ul>
    <% record.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
